<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid text-center">

<nav th:replace="fragments :: navBar"></nav>

<br>
<div class="container-fluid">
    <h1 th:text="${title}" class="display-2"></h1>
        <br>
        <h2 th:text="${skater}" class="text-muted display-4 font-italic"></h2>

</div>
<br>
<br>
<br>
<br>
<br>

<div style="font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;">
<div>
    <h2 th:text="${creditTotal}"></h2>
</div>
    <br>
    <br>
    <br>
    <br>
<div class="container-fluid">
    <div class="row text-center justify-content-center ">
        <h3 class="text-center mx-auto">Log practices here:</h3>
        </div>
    <br>

    <div class="col-12 form-group">
    <form method="post" action="">

    <div>
        <label>Practice Date<input th:field="*{practice.date}" type="date" name="practiceDate" class="form-control mx-auto">
    </label>

        <label>Number of Credits
        <select th:field="*{practice.numCredits}" name="creditNum" class="form-control mx-auto">
            <option value="">*Select One*</option>
            <option value=".5">.5</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </label>
    </div>

        <br>
    <div>
    <label>
        <input type="submit" value="Submit" class="btn btn-dark">
    </label>
    </div>
    </form>
</div>
    <br>
    <br>
    <br>


    <div>
        <h2>Calendar</h2>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23D81B60&amp;ctz=America%2FChicago&amp;src=NmNhMnBlaTM5NXNidjJvMGwyamRiYW5iZDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F09300&amp;showTitle=1&amp;title=Arch%20Practice%20Schedule"
            style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

<!--    <div>-->
<!--        <footer  th:replace="fragments :: logo"></footer>-->
<!--    </div>-->



</body>
</html>