<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">

<h1>My Dashboard</h1>

    <div>Please select which types of practices you attended:
        <label>Regular<input type="checkbox" name="regular"></label>
        <label>Advanced<input type="checkbox" name="advanced"></label>
        <label>Super<input type="checkbox" name="super"></label>
        <label>Fundamentals<input type="checkbox" name="fundamentals"></label>
        <label>Game<input type="checkbox" name="game"></label>
    </div>

    <div>
        <input type="submit" value="Submit Practice" class="btn">
    </div>

</body>
</html>