<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">

<nav th:replace="fragments :: navBar"></nav>

<br>
<div class="container-fluid text-center">
<h1 th:text="${title}" class="display-2"></h1>
</div>

<br>
<br>

<div class="text-center mx-auto" style="font-family: -apple-system, BlinkMacSystemFont,
“Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
“Fira Sans”, “Droid Sans”, “Helvetica Neue”,
sans-serif;">

<form th:action="@{/practices}" method="post">
    <label for="searchTerm">Search practices by skater name:</label>
    <input type="text" name="searchTerm" id="searchTerm"/>
    <input type="submit" value="Search" class="btn btn-dark"/>
</form>
    <br>

<div class="container-fluid">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Skater Name</th>
            <th scope="col">Date</th>
            <th scope="col">Number of Credits</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="practice : ${practices}">
            <td th:text="${practice.user.skaterName}">Placeholder</td>
            <td th:text="${practice.date}">a date</td>
            <td th:text="${practice.numCredits}">a number</td>
        </tr>
    </tbody>
</table>
</div>
</div>


</body>
</html>